:root {
  font-family: 'Manrope', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 120px;
    padding-left: 120px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 50px;
  }
}

.section-title-wrapper {
  padding-top: 64px;

  @include media(desktop) {
    padding-top: 80px;
  }
}

.section-title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #939fb6;

  @include media(desktop) {
  }
}
