.hero-section {
  background: #1e2449;

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 296px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 108px;
    padding-bottom: 443px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-size: cover;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
  }
}

.hero-text-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: #f1fdff;
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 56px;
    line-height: 1.3;
    max-width: max-content;
  }
}

.hero-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #f1fdff;
  max-width: 313px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 32px;
    max-width: max-content;
    margin-bottom: 64px;
  }
}

.hero-btn {
  box-shadow: 2px 2px 2px 0 rgba(58, 93, 149, 0.4);
  background: #ffe926;
  border: 1px solid #353b62;
  border-radius: 16px;
  padding: 13px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(180deg, #ffe926 0%, #fabc13 100%);
  }

  @include media(desktop) {
  }
}
