.policy-section {
  background: #3e507a;
  padding-top: 104px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 48px;
  }
}

.policy-main-title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #f1fdff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 48px;
  }
}

.policy-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #f1fdff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #f1fdff;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #f1fdff;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
