<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          We kept it simple - just pure bubble shooting without all the extra
          stuff that clutters up other games.<br class="about-text-br" />
          Players aim, shoot, and clear bubbles through increasingly challenging
          layouts.<br class="about-text-br" />
          As you get further, the levels get trickier with weird angles and
          stacked bubbles, so you really gotta plan your shots.
          <br class="about-text-br" />
          It’s a balance of relaxation and focus, making each level both
          enjoyable and rewarding.
        </p>
      </div>
    </div>
  </div>
</section>
