<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title about-title">About the Game</h2>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <p class="about-text">
          Bubble Shooter - Rescue Pandas builds on classic bubble shooting by
          introducing a simple rescue objective.<br />
          Instead of just clearing the board, players focus on freeing pandas
          trapped inside bubble clusters.<br />
          This adds a sense of purpose to every move. Each successful shot
          doesn’t just clear space — it helps progress toward saving all
          characters on the level.
        </p>
      </div>
    </div>
  </div>
</section>
