<section class="section contact-section" id="contact">
  <div class="contact-section-wrapper">
    <div class="section-title-wrapper contact-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title contact-title">Contact</h2>
      </div>
    </div>
    <div class="contact-bg-wrapper">
      <div class="container contact-container">
        <div class="contact-content-wrapper">
          <div class="contact-text-wrapper">
            <p class="contact-text">We’re here if you need support</p>
            <a
              href="mailto:info@quietvalleycrest.space"
              class="contact-email-link"
            >
              <svg class="email-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-email"></use></svg
              ><span>info@quietvalleycrest.space</span></a
            >
          </div>
          <picture>
            <source
              srcset="./img/contact/contact-bg-desk.png"
              media="(min-width: 1440px)"
              width="1200"
              height="669" />
            <source
              srcset="./img/contact/contact-bg-mob.png"
              width="343"
              height="202" />
            <img
              class="contact-img"
              src="./img/contact/contact-bg-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="202"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
