<section class="section faq-section" id="faq">
  <div class="faq-section-wrapper">
    <div class="section-title-wrapper faq-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title faq-title">FAQ</h2>
      </div>
    </div>
    <div class="faq-bg-wrapper">
      <div class="container faq-container">
        <ul class="faq-list">
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Is this different from regular bubble shooters?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. The main goal is to rescue pandas, not just clear bubbles.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Is the game suitable for kids?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. The visuals and mechanics are simple and friendly.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text"
                  >Do levels become more difficult?</span
                >
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Yes. Later stages require more precise shots and planning.
              </p>
            </div>
          </li>
          <li class="faq-list-item">
            <div class="faq-item-question-wrapper">
              <button class="faq-top-text-btn">
                <span class="faq-btn-text">Can I play casually?</span>
                <span class="faq-toggle-symbol"
                  ><svg class="faq-icon" width="24" height="24">
                    <use href="./img/sprite.svg#icon-caret"></use></svg
                ></span>
              </button>
            </div>
            <div class="faq-item-answer-wrapper">
              <p class="faq-bottom-text">
                Absolutely. Levels are short and easy to pick up anytime.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
