<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Key Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <ul class="features-list">
        <li class="features-slide">
          <svg class="features-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">Classic bubble shooter gameplay</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-features2"></use>
          </svg>
          <p class="features-item-text">Gradual difficulty progression</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-features3"></use>
          </svg>
          <p class="features-item-text">Clean and readable interface</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-features4"></use>
          </svg>
          <p class="features-item-text">Satisfying pop and chain reactions</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="48" height="48">
            <use href="./img/sprite.svg#icon-features5"></use>
          </svg>
          <p class="features-item-text">Short, replayable levels</p>
        </li>
      </ul>
    </div>
  </div>
</section>
