<section class="features-section section" id="features">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title features-title">Key Features</h2>
    </div>
  </div>
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <p class="features-text">
        It's the kind of game where you can chill out but still feel like you're
        accomplishing something.
      </p>
      <ul class="features-list">
        <li class="features-slide">
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-features1"></use>
          </svg>
          <p class="features-item-text">Classic bubble shooter mechanics</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-features2"></use>
          </svg>
          <p class="features-item-text">Rescue-based level objectives</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-features3"></use>
          </svg>
          <p class="features-item-text">Increasingly complex layouts</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-features4"></use>
          </svg>
          <p class="features-item-text">Simple and intuitive controls</p>
        </li>
        <li class="features-slide">
          <svg class="features-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-features5"></use>
          </svg>
          <p class="features-item-text">Emotion-driven gameplay</p>
        </li>
      </ul>
    </div>
  </div>
</section>
