<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-section-wrapper">
    <div class="section-title-wrapper gameplay-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title gameplay-title">Gameplay Mechanics</h2>
      </div>
    </div>
    <div class="gameplay-bg-wrapper">
      <div class="container gameplay-container">
        <div class="gameplay-content-wrapper">
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img1-desk.png"
                  media="(min-width: 1440px)"
                  width="396"
                  height="226" />
                <source
                  srcset="./img/gameplay/gameplay-img1-mob.png"
                  width="312"
                  height="178" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img1-mob.png"
                  alt="Screenshot of the game"
                  width="312"
                  height="178"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Aim and Match</p>
              <p class="gameplay-item-text">
                Players shoot bubbles to match colors and clear clusters. You'll
                need to think a few shots ahead if you want to get to those
                pandas efficiently.
              </p>
            </li>
            <li class="gameplay-list-item">
              <picture>
                <source
                  srcset="./img/gameplay/gameplay-img2-desk.png"
                  media="(min-width: 1440px)"
                  width="396"
                  height="226" />
                <source
                  srcset="./img/gameplay/gameplay-img2-mob.png"
                  width="312"
                  height="178" />
                <img
                  class="gameplay-img"
                  src="./img/gameplay/gameplay-img2-mob.png"
                  alt="Screenshot of the game"
                  width="312"
                  height="178"
                  loading="lazy"
              /></picture>
              <p class="gameplay-item-title">Rescue Objective</p>
              <p class="gameplay-item-text">
                Pandas are positioned within or beneath bubble formations.
                Clearing surrounding bubbles releases them, often triggering
                satisfying chain reactions.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
