<section class="section progression-section" id="progression">
  <div class="progression-section-wrapper">
    <div class="section-title-wrapper progression-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title progression-title">Level Design</h2>
      </div>
    </div>
    <div class="progression-bg-wrapper">
      <div class="container progression-container">
        <div class="progression-content-wrapper">
          <picture>
            <source
              srcset="./img/progression/progression-img1-desk.png"
              media="(min-width: 1440px)"
              width="345"
              height="263" />
            <source
              srcset="./img/progression/progression-img1-mob.png"
              width="343"
              height="261" />
            <img
              class="progression-img"
              src="./img/progression/progression-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="261"
              loading="lazy"
          /></picture>
          <p class="progression-text">
            Each level is basically a little rescue mission with its own setup.
            Early stages introduce simple setups, while later ones require more
            precise shots and planning to reach hidden pandas. You'll find
            yourself holding your breath when a panda's almost free, then
            celebrating when they finally drop down.
          </p>
          <picture>
            <source
              srcset="./img/progression/progression-img2-desk.png"
              media="(min-width: 1440px)"
              width="345"
              height="263" />
            <source
              srcset="./img/progression/progression-img2-mob.png"
              width="343"
              height="261" />
            <img
              class="progression-img"
              src="./img/progression/progression-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="261"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
