<section class="section progression-section" id="progression">
  <div class="progression-section-wrapper">
    <div class="section-title-wrapper progression-title-wrapper">
      <div class="container section-title-container">
        <h2 class="section-title progression-title">Level Progression</h2>
      </div>
    </div>
    <div class="progression-bg-wrapper">
      <div class="container progression-container">
        <div class="progression-content-wrapper">
          <picture>
            <source
              srcset="./img/progression/progression-img1-desk.png"
              media="(min-width: 1440px)"
              width="343"
              height="214" />
            <source
              srcset="./img/progression/progression-img1-mob.png"
              width="323"
              height="202" />
            <img
              class="progression-img"
              src="./img/progression/progression-img1-mob.png"
              alt="Screenshot of the game"
              width="323"
              height="202"
              loading="lazy"
          /></picture>
          <p class="progression-text">
            Levels begin with simple formations that allow players to learn the
            mechanics. Over time, layouts become denser and more layered,
            requiring precise shots and better planning. Each level's a bit
            harder than the one before, but not in a way that'll make you want
            to throw your phone.
          </p>
          <picture>
            <source
              srcset="./img/progression/progression-img2-desk.png"
              media="(min-width: 1440px)"
              width="343"
              height="214" />
            <source
              srcset="./img/progression/progression-img2-mob.png"
              width="323"
              height="202" />
            <img
              class="progression-img"
              src="./img/progression/progression-img2-mob.png"
              alt="Screenshot of the game"
              width="323"
              height="202"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
