<section class="testimonials-section section" id="testimonials">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title testimonials-title">Player Reviews</h2>
    </div>
  </div>
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <ul class="testimonials-list">
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Ashley T.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “I love how smooth and clean the gameplay feels. It’s easy to start,
            but later levels really make you think about your shots.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Tom B.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Classic bubble shooter done right. Gets tough but doesn't make me
            rage quit like some games.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Mila N.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Super satisfying when you clear big sections at once. I keep coming
            back for quick sessions.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Bobby C.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-4-stars.png"
              alt="Rating"
              width="64"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “Great for relaxing after a long day. Simple mechanics, but still
            engaging enough to hold attention.”
          </p>
        </li>
        <li class="testimonials-slide">
          <div class="testimonials-name-wrapper">
            <p class="testimonials-item-name">Maria L.</p>
            <img
              class="testimonials-img"
              src="./img/testimonials/testimonials-5-stars.png"
              alt="Rating"
              width="80"
              height="16"
            />
          </div>
          <p class="testimonials-item-text">
            “The progression feels natural. It slowly gets harder and keeps
            things interesting over time. Absolutely my fav! Helps me unwind.”
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
